__pycache__/
.pytest_cache/
.vscode/
Projects/
doc/build/
target/
docs/
src/
*.mtl
.config
test.py

.idea/

# Profiling files
*.log
*.prof

# Installation related
dist/
build/
envpulse/
*.dist/
*.build/

# C extensions
*.so
*.dat
*.ini
*.json

# Local directory
measured_data/
temporary_data/

# Do not ignore
!pulse/libraries/*.dat
!examples/projects/*.pulse