__pycache__/
.pytest_cache/
.vscode/
doc/build/
target/
docs/
src/
*.mtl
.config
test.py
*.md5
.idea/

# ignore all root folders whose name start with a dot
.*/

# Profiling files
*.log
*.prof

# Installation related
dist/
build/
envpulse/
*.dist/
*.build/

# C extensions
*.so
*.dat
*.ini
*.json

# Local directory
measured_data/
temporary_data/

# pyenv
.python-version

# Do not ignore
!pulse/libraries/*.dat
!examples/projects/*.pulse

!examples/Tables/*.dat