[tool.poetry]
name = "pulse"
version = "1.0.3"
description = "Open Source Software for Pulsation Analysis of Pipeline Systems"
authors = ["Your Name <you@example.com>"]
license = "MIT License"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
vtk = "^9.2.6"
numpy = "^1.25.2"
scipy = "^1.11.2"
matplotlib = "^3.7.2"
PyQt5 = "^5.15.9"
gmsh = "^4.11.1"
ctREFPROP = "^0.10.2"
pandas = "^2.1.0"
openpyxl = "^3.1.2"
h5py = "^3.9.0"
opps = {git = "https://github.com/andrefpf/opps", rev = "open_pulse_integration"}
vtkat = {git = "https://github.com/andrefpf/vtkat"}
compressors = {git = "https://github.com/MOPT-UFSC/Compressors"}

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
isort = "^5.12.0"
pytest = "^7.4.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
